body{
    font-family: Arial;
    text-align: center;
}

input{
    padding: 8px;
    width: 200px;
    margin-bottom: 10px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    background-color: bisque;
}
