body {
    font-family: Arial;
    text-align: center;
}

.faq {
    width: 400px;
    margin: auto;
    text-align: left;
}

.item {
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
}

.item p {
    display: none;
}