body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

/* Header */
header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navbar */
nav {
    background: #555;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Sections */
section {
    padding: 20px;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}